.container {
  display: flex;
}

.grid {
  width: 200px;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
  background: black;
  border-top: 5px solid black;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
}

.grid div {
  height: 20px;
  width: 20px;
}

/*  pregrid is temporarily red for testing */
/* I also don't know how to make it invisible :3 */
.grid .pregrid {
  background: red;
}

.tetromino {
  background: #39ff14;
}

.mini-grid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background: black;
  border: 5px solid black;
  margin-left: 40px;
}

.mini-grid div {
  width: 20px;
  height: 20px;
}

/* matthewsoup css  
⣿⡇⣿⣿⣿⠛⠁⣴⣿⡿⠿⠧⠹⠿⠘⣿⣿⣿⡇⢸⡻⣿⣿⣿⣿⣿⣿⣿
⢹⡇⣿⣿⣿⠄⣞⣯⣷⣾⣿⣿⣧⡹⡆⡀⠉⢹⡌⠐⢿⣿⣿⣿⡞⣿⣿⣿
⣾⡇⣿⣿⡇⣾⣿⣿⣿⣿⣿⣿⣿⣿⣄⢻⣦⡀⠁⢸⡌⠻⣿⣿⣿⡽⣿⣿
⡇⣿⠹⣿⡇⡟⠛⣉⠁⠉⠉⠻⡿⣿⣿⣿⣿⣿⣦⣄⡉⠂⠈⠙⢿⣿⣝⣿
⠤⢿⡄⠹⣧⣷⣸⡇⠄⠄⠲⢰⣌⣾⣿⣿⣿⣿⣿⣿⣶⣤⣤⡀⠄⠈⠻⢮
⠄⢸⣧⠄⢘⢻⣿⡇⢀⣀⠄⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⡀⠄⢀
⠄⠈⣿⡆⢸⣿⣿⣿⣬⣭⣴⣿⣿⣿⣿⣿⣿⣿⣯⠝⠛⠛⠙⢿⡿⠃⠄⢸
⠄⠄⢿⣿⡀⣿⣿⣿⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣿⣿⣿⣿⡾⠁⢠⡇⢀
⠄⠄⢸⣿⡇⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣏⣫⣻⡟⢀⠄⣿⣷⣾
⠄⠄⢸⣿⡇⠄⠈⠙⠿⣿⣿⣿⣮⣿⣿⣿⣿⣿⣿⣿⣿⡿⢠⠊⢀⡇⣿⣿
⠒⠤⠄⣿⡇⢀⡲⠄⠄⠈⠙⠻⢿⣿⣿⠿⠿⠟⠛⠋⠁⣰⠇⠄⢸⣿⣿⣿
⠄⠄⠄⣿⡇⢬⡻⡇⡄⠄⠄⠄⡰⢖⠔⠉⠄⠄⠄⠄⣼⠏⠄⠄⢸⣿⣿⣿
⠄⠄⠄⣿⡇⠄⠙⢌⢷⣆⡀⡾⡣⠃⠄⠄⠄⠄⠄⣼⡟⠄⠄⠄⠄⢿⣿⣿
*/

body {
  background: black;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 100;
  font-size: 30px;
  font-family: "Anonymous Pro", monospace;
  text-align: center;
  color: #39ff14;
}

a {
  font-weight: 900;
  font-size: 50px;
  font-family: "Anonymous Pro", monospace;
  text-align: center;
  color: #39ff14;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}

/* Link Styling */

.play {
  position: absolute;
  top: 25%;
  background: none;
  margin: auto;
  border: none;
  cursor: pointer;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  text-align: center;
  font-size: 4em;
}

a:link {
  color: #39ff14;
  text-decoration: none;
}

a:visited {
  color: #39ff14;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* button styling */

.startStyle {
  font-size: 18px;
  font-weight: 100;
  font-family: "Anonymous Pro", monospace;
  text-align: center;
  background: none;
  color: #39ff14;
  border: none;
  margin: 10px 0px;
  padding: 0;
  cursor: pointer;
}

.pauseStyle {
  font-size: 15px;
  font-weight: 100;
  font-family: "Anonymous Pro", monospace;
  text-align: center;
  background: none;
  color: #39ff14;
  border: none;
  margin: 5px 0px;
  padding: 0;
  cursor: pointer;
}

.retryStyle {
  font-size: 15px;
  font-weight: 100;
  font-family: "Anonymous Pro", monospace;
  text-align: center;
  background: none;
  color: #39ff14;
  border: none;
  margin: 0px 0px 20px 0px;
  padding: 0;
  cursor: pointer;
}

.startStyle:hover {
  opacity: 0.7;
}

.pauseStyle:hover {
  opacity: 0.7;
}

.retryStyle:hover {
  opacity: 0.7;
}

/*containAll contains all elements*/
.containAll {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* scrContainer contains score. */
.scrContainer {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

/* btnContainer1 contains the start button.*/
.btnContainer1 {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

/* btnContainer2 contains the pause button.*/
.btnContainer2 {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

/* btnContainer3 contains the retry button.*/
.btnContainer3 {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

/* gameContainer contains grid + mini-grid... */
.gameContainer {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  background: #39ff14;
  border-radius: 25px;
  padding: 100px 60px;
}

/* homeContainer contains the gameboy image on home page.*/
.homeContainer {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

/* image sizing */

.imgSize {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.imgSize.large {
  height: 800px;
}

/* iconContainer contains icons */

.iconContainer {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  margin: 15px 0px;
}

/* Font awesome button icons */

.fa {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  padding: 0;
  margin: 0px 5px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  color: #39ff14;
}

.fa-twitter {
  color: #39ff14;
}

.fa-github {
  color: #39ff14;
}
